body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#terminal {
  width: 90%;
  max-width: 1000px;
  height: 90%;
  background-color: black;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 20px;
  color: #33ff33;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #33ff33;
}
